<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GuildWarsDataFetcher.Properties.Settings.CacheConnectionString"
      connectionString="Data Source=|DataDirectory|\Cache.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="TemplateManager.DataFetcher.Properties.Settings.CacheConnectionString"
      connectionString="Data Source=|DataDirectory|\Cache.sdf" />
  </connectionStrings>
</configuration>