<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemplateManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TemplateManager.Properties.Settings>
            <setting name="TemplateFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>[Default]</value>
            </setting>
            <setting name="DeleteBehaviour" serializeAs="String">
                <value>Delete and Recycle</value>
            </setting>
            <setting name="ArchiveFolder" serializeAs="String">
                <value />
            </setting>
        </TemplateManager.Properties.Settings>
    </userSettings>
</configuration>